body{

background:#0f172a;

font-family:Arial;

color:white;

margin:0;
padding:0;
}

.container{

width:400px;

margin:50px auto;

background:#1e293b;

padding:30px;

border-radius:15px;
}

h1{

text-align:center;
}

input{

width:100%;

padding:12px;

margin-bottom:15px;

border:none;

border-radius:8px;
}

button{

width:100%;

padding:12px;

background:#8b5cf6;

color:white;

border:none;

border-radius:8px;

font-size:18px;
}

.result-box{

margin-top:20px;

background:#334155;

padding:20px;

border-radius:10px;

text-align:center;
}